<div class="panel panel-info" ng-init="getContacts()">
    <div class="panel-heading" style="color: white"><b>Latest Contacts</b></div>
    <div class="panel-body">
        <div class="row">
            <div ng-repeat="contact in contacts">
                <div class="col-md-6 animated fadeInUp">
                    <div class="col-md-6">
                        {{contact.name}}
                        <a class="btn btn-raised btn-primary" href="#/contacts/detail/{{contact._id}}">View Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>